.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort {
  padding: 5px 10px;
  font-size: 12px;
}
.shopcategory-sort-dropdown {
  padding: 8px 15px;
  border: 1px solid #888;
  border-radius: 20px;
  background-color: #ffe1e1;
  font-size: 14px;
  font-weight: 500;
  color: #787878;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

.shopcategory-sort-dropdown option {
  font-size: 14px;
  color: #787878;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-products {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 170px;
  display: grid;
  row-gap: 80px;
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background-color: #ffe1e1;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 30px auto;
    width: 82%;
  }
  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 30px;
    font-size: 12px;
  }
  .shopcategory-sort-dropdown {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
  }
  .shopcategory-indexSort p {
    font-size: 12px;
  }
  .shopcategory-products {
    margin: 10px auto;
    row-gap: 40px;
    width: 90%;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-sort-dropdown {
    font-size: 11px;
  }
  .shopcategory-products {
    width: 95%;
  }

  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
  .shopcategory-sort {
    padding: 5px 20px;
    font-size: 12px;
  }
  .shopcategory-sort-dropdown {
    padding: 4px 8px;
    font-size: 10px;
  }
}
